@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

:root {
    --accentcolor:		163, 47, 194;		/*	blurple		-	default:	88, 101, 242			*/
    --accentcolor2:		225, 115, 180;		/*	boostpink	-	default:	255, 115, 250			*/
    --linkcolor:		190, 60, 220;		/*	link		-	default:	0, 176, 244			*/
}